root = true

# Razor specific rules
[*.{cs,razor}]
dotnet_diagnostic.BL0001.severity = none
dotnet_diagnostic.BL0002.severity = none
dotnet_diagnostic.BL0003.severity = none
dotnet_diagnostic.BL0004.severity = none
dotnet_diagnostic.BL0005.severity = none
dotnet_diagnostic.BL0006.severity = none
dotnet_diagnostic.BL0007.severity = none